<li ###menu_class_types###>
  <a class="dropdown-toggle" data-close-others="false" data-delay="0" data-hover="dropdown" data-toggle="dropdown" href="#">
    ###menu_name###<b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    ###menu_items###
  </ul>
</li>
